.rooms {
  &__list {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  &__room {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
  }
}

.room {
  &__name {
    font-size: 16px;
    color: #333;
    margin: 0;
    margin-bottom: 3px;
  }

  &__creator,
  &__style {
    font-size: 12px;
    color: #666;
  }

  &__style {
    color: #999;
    font-style: italic;
  }
}
