.current-song-submitter {
  display: flex;
  align-items: center;
  color: #1d1d35;
  font-size: 12px;
  font-weight: 500;
  padding: 10px;

  svg {
    font-size: 16px;
    margin-right: 10px;
  }
}

.play-module {
  // height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .no-current-song {
    color: #1d1d35;
    font-weight: 500;
  }

  &__join-icon {
    cursor: pointer;
    font-size: 100px;
    height: 256px;
    color: #222;
  }
}
