html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1d1d35;
    border-radius: 7px;
  }

  ::-webkit-scrollbar-track {
    background-color: #e6eedd;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: $font-primary;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.3rem;
}

h2,
.h2 {
  font-size: 1.85rem;
}

h3,
.h3 {
  font-size: 1.55rem;
}

h4,
.h4 {
  font-size: 1.35rem;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 14px;
}

p {
  font-family: $font-primary;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.h-10 {
  height: 10%;
}

.h-18 {
  height: 18%;
}

.h-33 {
  height: 33.3%;
}

.h-66 {
  height: 66.6%;
}

.h-95 {
  height: 95%;
}

.w-10 {
  width: 10%;
}

.w-33 {
  width: 33.3%;
}

.w-66 {
  width: 66.6%;
}

.flex-1 {
  flex: 1 1 0 !important;
}

.flex-2 {
  flex: 2 1 0 !important;
}

.flex-3 {
  flex: 3 1 0 !important;
}

.flex-4 {
  flex: 4 1 0 !important;
}
