@font-face{
    font-family:'Raleway';
    src: url("./Raleway-Regular.ttf") format("opentype");
}

@font-face{
    font-family: 'Raleway Bold';
    src: url(./Raleway-Bold.ttf) format ("opentype");
}